services:
  frontend:
    build: .
    container_name: collaborative-text-editor-main-frontend
    command: npm run dev -- --host 0.0.0.0
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - backend

  backend:
    build: .
    container_name: collaborative-text-editor-main-backend
    ports:
      - "3001:3001"
    working_dir: /app
    command: npm run server
